.img-ban{
    position: relative;
    text-align: center;
    color: white;
}
.img-posi{
    position: absolute;
    bottom: 8px;
    left: 100px;
}
.img-b{
    position: relative;
   
  
}
.img-p{
    position:relative;
    bottom: 18px;
    right: 15px;
    
}